.slider{
    position:relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img{
    width: 100%;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgb(215, 215, 215);
    color: rgb(79, 79, 79);
    border : none;
    cursor: pointer;
}
.previus{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade{
    from {opacity: .7;}
    to {opacity: 1}
}